@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

@font-face {
  font-family: "Thrustline";
  src: url("/fonts/Thrustline.ttf") format("truetype");
}

body {
  margin: 0;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-image {
  flex: 1;
  background-color: #210706;
}

.login-image img {
  width: 120%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #210706;
}

.login-card {
  background: #F1E6D2;
  padding: 50px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-title {
  font-family: "Thrustline", serif;
  color: #891D1A;
  margin-bottom: 20px;
}

.login-subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  color: #5E657B;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #5E657B;
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #891D1A;
  color: #F1E6D2;
  border: none;
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.login-card button:hover {
  background-color: #5E657B;
}