.history-container {
  display: flex;
  justify-content: center;
}

.ballot-scroll-container {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  background: #f9f9f9;
}

.ballot-details {
  margin-bottom: 15px;
  padding: 15px;
  background: #F1E6D2;
  color: #210706;
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.ballot-details::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  border-radius: 8px;
  z-index: -1;
  transform: translate(-10px, -10px);
}

.ballot-details h3 {
  margin-top: 0;
  color: #210706;
}

.ballot-details p {
  margin: 5px 0;
}